- if @editing
  - field = f.object
%select{:name => "field#{field.id}"}
  - field.subfields.each do |subfield|
    %option{:value => subfield.prompt}= subfield.prompt
%br
- if @editing
  - f.fields_for :subfields do |subfield_form|
    = render_option_form(subfield_form)
  = add_subfield_link(field, "ComboOption")
  = new_child_fields_template(f, :subfields, "Option", {:partial => "combo_option"})

-# Maybe support an "Other" option if an option has a subfield;
-#  we'd need a javascript listener to enable/disable the attached text box
