%select{:name => "field#{field.id}"}
  - field.subfields.each do |subfield|
    %option{:value => subfield.prompt}= subfield.prompt
%br
- if @editing
  - field.subfields.each do |subfield|
    = render_field(subfield, above_form)
    = delete_subfield_link(subfield, above_form)
    %br
  = add_subfield_link(field, above_form)
  
-# Maybe support an "Other" option if an option has a subfield;
-#  we'd need a javascript listener to enable/disable the attached text box
