- fields_for_field_group edit_field_group do |field_group_form|
  .field_group
    %h3= "Field Group #{edit_field_group.sort_order} (" + |
          delete_field_group_link(edit_field_group,       |
                                  field_group_form) + ")" |
    .field_group_title
      Title:
      = field_group_form.text_field :title
    .field_group_preamble
      Preamble: 
      = field_group_form.text_area :preamble
    
    - edit_field_group.fields.each do |field|
      - fields_for_field field do |field_form|
        .edit_field
          = field_form.text_field :prompt
          = render_field(field, field_form)
        = add_field_link(field, field_form)
        &middot;
        = delete_field_link(field, field_form)
        %br
        %br
  = add_field_group_link(edit_field_group, field_group_form)
