.edit_field_group
  %h3= "Field Group #{field_group.sort_order} (" + |
        link_to("delete", "#") + ")" |
  - new_or_existing = field_group.new_record? ? 'new' : 'existing'
  - prefix = "survey[#{new_or_existing}_field_group_attributes][]"
  - fields_for prefix, field_group do |field_group_form|
    .edit_title
      Title:
      = field_group_form.text_field :title
    .edit_preamble
      Preamble: 
      = field_group_form.text_area :preamble
  
  - field_group.fields.each do |field|
    = render_field(field)
    = add_field_link
    &middot;
    = delete_field_link(field)
    %br
    %br

