.element.field_group
  - if @editing
    %h3= "Field Group #{f.object.sort_order} (" + |
          delete_field_group_link(f) + ")" |
    -#.field_group_title
    = f.label :title, "Title:"
    = f.text_field :title
    %br
    .field_group_preamble
      = f.label :preamble, "Preamble:"
      %br
      = f.text_area(:preamble, :rows => 5)

    - f.fields_for :fields do |field_form|
      = render(:partial => "field", |
               :locals => {         |
                 :f => field_form,  |
                 :partial => nil    |
               })                   |
    = "Add field: " 
    - field_types = %w{ SingleLineTextBox TextBox ComboContainer |
                        RadioContainer CheckContainer }          |
    - list = field_types.collect { |field_type| add_field_link(f.object, field_type) }
    = list.join(" | ")
    - field_types.each do |field_type|
      = new_child_fields_template(f, :fields, field_type)
    %br
  - else
    %h4.title= field_group.title
    %h5.preamble= field_group.preamble
    - field_group.fields.each do |field|
      = field.prompt
      = render_field(field)
      %br
      %br
