- form_for @survey do |f|
  %h1= "Editing Survey #{@survey.id}"
  .edit_title
    = f.label "Title: "
    = f.text_field :title
  .edit_preamble
    = f.label "Preamble: "
    = f.text_area :preamble
    -#  - @survey.field_groups.each do |field_group|
    -#    = render :partial => 'edit_field_group',   |
    -#      :locals => {:field_group => field_group} |
    = render :partial => 'edit_field_group', :collection => @survey.field_groups

  = submit_tag