- form_for @survey do |f|
  %h1
    = "Editing " + link_to((@survey.title.nil? ?               |
        "Untitled Survey" : @survey.title), |
        survey_schema_path(@survey))         |
  .edit_title
    = f.label "Title: "
    = f.text_field :title
  .edit_preamble
    = f.label "Preamble: "
    %br
    = f.text_area :preamble, :rows => 5
  %br
  #field_groups
    - f.fields_for :field_groups do |field_group_form|
      = render :partial => 'edit_field_group', :locals => {:f => field_group_form}
      %br
  = add_field_group_link(@survey)
  %br
  = submit_tag
